<h2>Cambiar Contraseña</h2>
<form id="passwordForm" data-email="{{user.email}}">
  <label for="newPassword">Nueva Contraseña:</label>
  <input type="password" id="newPassword" name="newPassword" />
  <input type="submit" value="Actualizar Contraseña" />
</form>
<div id="error" style="color: red; display: none;">No puedes usar tu contraseña
  anterior.</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('passwordForm');
    form.addEventListener('submit', function (e) {
      e.preventDefault();
      const newPassword = document.getElementById('newPassword').value;
      const email = form.getAttribute('data-email');

      fetch('http://localhost:8080/api/verify-password', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ password: newPassword, email: email })
      })
        .then(response => response.json())
        .then(data => {
          if (data.isSame) {
            document.getElementById('error').style.display = 'block';
          } else {
            alert('Contraseña actualizada con éxito.');
            window.location.href = "http://localhost:8080/api/views/login"
          }
        })
        .catch(error => {
          console.log(error)
          alert('Error al verificar la contraseña.');
        });
    });
  });
</script>